# SQL Data Viewer
## Display head of all CSV files from sql_raw directory

In [8]:
import pandas as pd
import os
from pathlib import Path

In [ ]:
# Set path to sql_raw directory
sql_raw_path = Path('/Users/naruebet.orgl/Workspace/Labs/rnd_ai/internal_raw/sql_raw')

# Get all CSV files
csv_files = sorted(sql_raw_path.glob('*.csv'))
print(f"Found {len(csv_files)} CSV files")

Found 39 CSV files

In [15]:
from load_all_tables import load_all_tables, inject_into_globals

In [16]:
tables = load_all_tables()

Loading 39 tables...

⚠ df_activity_log                     → 83,397 rows ×  10 cols (some lines skipped)
✓ df_bmr_master                       →  6,685 rows ×  26 cols
✓ df_companies                        →      6 rows ×  14 cols
✓ df_crm_details                      →    660 rows ×   8 cols
✓ df_crm_lists                        →    147 rows ×  14 cols
✓ df_document_statuses                →      4 rows ×   2 cols
✓ df_equipment_machines               →     12 rows ×  10 cols
✓ df_file_path_uploads                →  5,034 rows ×  12 cols
✓ df_formula_master_em                →  4,660 rows ×  11 cols
✓ df_formula_master_file_paths        →  6,368 rows ×  15 cols
✓ df_formula_master_pms_line          →  6,253 rows ×  10 cols
✓ df_formula_master_process           →  3,057 rows ×  13 cols
✓ df_formula_master_sob               →  5,216 rows ×  14 cols
✓ df_formula_master_topic_txts        →  1,440 rows ×   7 cols
✓ df_formula_masters                  →    474 rows ×  19 cols
⚠ df_formula_version_lists            →  7,106 rows ×   8 cols (some lines skipped)
✓ df_inci_lines                       → 11,450 rows ×  21 cols
✓ df_migrations                       →     31 rows ×   3 cols
✓ df_obj_types                        →      4 rows ×   5 cols
✓ df_order_track_statuses             →      7 rows ×   6 cols
✓ df_pms_master                       →      2 rows ×   5 cols
✓ df_pms_master_line                  →     12 rows ×  10 cols
✓ df_product_details                  →  2,610 rows ×  29 cols
✓ df_rd_formula_line_sts              →      4 rows ×   6 cols
⚠ df_rd_formula_lines                 → 90,643 rows ×  33 cols (some lines skipped)
✓ df_rd_formula_pus                   →    239 rows ×  31 cols
✓ df_rd_formulas                      →  5,844 rows ×  39 cols
✓ df_rd_units                         →      6 rows ×  10 cols
✓ df_registration_documents           →      3 rows ×   8 cols
✓ df_rm_line_incis                    →     15 rows ×   9 cols
✓ df_rm_lines                         →  3,070 rows ×  15 cols
✓ df_rm_step_prices                   →      4 rows ×   9 cols
✓ df_roles                            →      9 rows ×   6 cols
✓ df_sob_line                         →     21 rows ×  14 cols
✓ df_sob_line_details                 →      5 rows ×   6 cols
✓ df_sob_master                       →      2 rows ×   8 cols
✓ df_topic_master                     →      3 rows ×  10 cols
✓ df_topic_master_line                →     27 rows ×  10 cols
✓ df_users                            →     48 rows ×  16 cols

======================================================================
Loaded 39 tables successfully!
======================================================================

In [22]:
tables['df_crm_lists'].head()

,id,crm_customer_name,crm_brand_name,crm_phone,order_track_statuses_id,contact_information,company_name,companies_id,users_id,record_status,notification_day,created_at,updated_at,updated_detail
0,2,คุณพลอย Siriwellnex,Siriwellnex,084-2629897,7.0,นิริน พลอย\nบมจ.ศิริวัตทนา\n125 แขวง ทุ่งวัดดอ...,NaN,NaN,13.0,0.0,NaN,2023-02-14 03:36:22,2023-02-23 10:22:02,NaN
1,3,คุณอาร์,0,0,2.0,0,NaN,NaN,16.0,0.0,NaN,2023-02-15 02:37:32,2023-02-23 10:17:50,NaN
2,4,คุณอาร์,0,0,2.0,0,NaN,NaN,16.0,0.0,NaN,2023-02-15 02:38:55,2023-02-23 10:17:36,NaN
3,5,siriwellnex,"Rin\ Gluta,084-2629897,4,บมจ ศิริวัตทนา\n125 แ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6,พี่ปูเป้,0,0824441419,2.0,0,NaN,NaN,16.0,1.0,NaN,2023-02-15 02:46:08,2023-06-07 06:27:11,2023-06-07 13:27:11

In [26]:
tables['df_rd_formula_lines'].head()

,id,rd_formula_id,rm_lines_id,rmit_code,rmit_name,rmit_trade_name,rmit_inci_name,master_formula,supplier_code,supplier_name_th,...,rm_cost,rm_cost_kg,value_to_mf,total_weight,value_kg,value_g,pu_note,rd_formula_line_note,rd_formula_line_sts_id,rd_formula_line_sts_detail
0,1,RDF2208001,NaN,Water,NaN,Water,Water,85.4000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,RDF2208001,NaN,RC00Y001,NaN,Glycerin,Glycerin,1.0000,SP001,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,RDF2208001,NaN,RC00R008,NaN,Radianol 4710,Propylene glycol,3.0000,SP001,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,RDF2208001,NaN,RC00R001,NaN,HEC,Hydroxyethyl cellulose,2.0000,SP002,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,RDF2208001,NaN,RC00H003,NaN,Oligo Hya,NaN,0.2000,SP003,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN